/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# IGNORE ENV
.env

#Ignore Bye Bug History
.byebug_history

#Ignore VSCode
.vscode

*.gemvendor/
