---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.7/geocode?api_key=<API_KEY>&fields=&format=simple&limit&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api311
      X-Ratelimit-Remaining:
      - '920'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"1109 N Highland St, Arlington, VA 22201","lat":38.886672,"lng":-77.094735,"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"}'
  recorded_at: Thu, 06 Mar 2025 18:38:54 GMT
- request:
    method: get
    uri: https://api.geocod.io/v1.7/geocode?api_key=<API_KEY>&fields=&format=simple&limit&q=1120%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api212
      X-Ratelimit-Remaining:
      - '919'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"1120 N Highland St, Arlington, VA 22201","lat":38.886743,"lng":-77.095041,"accuracy":1,"accuracy_type":"range_interpolation","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"}'
  recorded_at: Thu, 06 Mar 2025 18:38:55 GMT
recorded_with: VCR 6.1.0
