---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v2/geocode?api_key=<API_KEY>&format=simple&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api285
      X-Ratelimit-Remaining:
      - '987'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"1109 N Highland St, Arlington, VA 22201","lat":38.886672,"lng":-77.094735,"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"}'
  recorded_at: Tue, 24 Feb 2026 16:52:43 GMT
[...]
- request:
    method: get
    uri: https://api.geocod.io/v2/geocode?api_key=<API_KEY>&format=simple&q=1120%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api294
      X-Ratelimit-Remaining:
      - '988'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"1120 N Highland St, Arlington, VA 22201","lat":38.886748,"lng":-77.094752,"accuracy":1,"accuracy_type":"range_interpolation","source":"TIGER/Line®
        from the US Census Bureau"}'
  recorded_at: Thu, 12 Mar 2026 11:55:53 GMT
recorded_with: VCR 6.1.0
