---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.8/reverse?api_key=<API_KEY>&fields=school,cd&format&limit=1&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '2'
      Request-Handler:
      - api226
      X-Ratelimit-Remaining:
      - '980'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"address_components":{"number":"508","street":"H","suffix":"St","postdirectional":"NE","formatted_street":"H
        St NE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20002","country":"US"},"formatted_address":"508
        H St NE, Washington, DC 20002","location":{"lat":38.900432,"lng":-76.999031},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)","fields":{"congressional_districts":[{"name":"Delegate
        District (at Large)","district_number":98,"ocd_id":"ocd-division\/country:us\/district:dc\/cd:at-large","congress_number":"119th","congress_years":"2025-2027","proportion":1,"current_legislators":[{"type":"representative","seniority":null,"bio":{"last_name":"Norton","first_name":"Eleanor","birthday":"1937-06-13","gender":"F","party":"Democrat"},"contact":{"url":"https:\/\/norton.house.gov","address":"2136
        Rayburn House Office Building Washington DC 20515-5101","phone":"202-225-8050","contact_form":null},"social":{"rss_url":"http:\/\/norton.house.gov\/index.php?format=feed&amp;type=rss","twitter":"EleanorNorton","facebook":"CongresswomanNorton","youtube":"EleanorHNorton","youtube_id":"UChRrAXUGylfxJjbquC6aUjQ"},"references":{"bioguide_id":"N000147","thomas_id":"00868","opensecrets_id":"N00001692","lis_id":null,"cspan_id":"882","govtrack_id":"400295","votesmart_id":"775","ballotpedia_id":"Eleanor
        Holmes Norton","washington_post_id":null,"icpsr_id":null,"wikipedia_id":"Eleanor
        Holmes Norton"},"source":"Legislator data collected by https:\/\/github.com\/unitedstates\/"}]}],"school_districts":{"unified":{"name":"District
        of Columbia Public Schools","lea_code":"1100030","grade_low":"PK","grade_high":"12"}}}}]}'
  recorded_at: Fri, 07 Mar 2025 17:01:42 GMT
[...]
- request:
    method: get
    uri: https://api.geocod.io/v1.8/reverse?api_key=<API_KEY>&fields=&format&limit=8&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api303
      X-Rate[...]
- request:
    method: get
    uri: https://api.geocod.io/v1.8/reverse?api_key=<API_KEY>&fields=&format&limit&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api302
      X-Rateli[...]
