---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.8/reverse?api_key=<API_KEY>&fields=&format=simple&limit&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api310
      X-Ratelimit-Remaining:
      - '976'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"508 H St NE, Washington, DC 20002","lat":38.900432,"lng":-76.999031,"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"}'
  recorded_at: Fri, 07 Mar 2025 17:01:44 GMT
[...]
- request:
    method: get
    uri: https://api.geocod.io/v1.9/reverse?api_key=<API_KEY>&format=simple&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api308
      X-Ratelimit-Remaining:
      - '946'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"508 H St NE, Washington, DC 20002","lat":38.900432,"lng":-76.999031,"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"}'
  recorded_at: Mon, 05 Jan 2026 10:02:58 GMT
- request:
    method: get
    uri: https://api.geocod.io/v1.9/reverse?api_key=<API_KEY>&format=simple&q=38.92977415631741,-77.04941962147353
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api311
      X-Ratelimit-Remaining:
      - '945'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"3121 Adams Mill Rd NW, Washington, DC 20010","lat":38.930299,"lng":-77.044278,"accuracy":0.96,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"}'
  recorded_at: Mon, 05 Jan 2026 10:02:59 GMT
recorded_with: VCR 6.1.0
