---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.10/reverse?api_key=<API_KEY>&format=simple&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api310
      X-Ratelimit-Remaining:
      - '975'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"510 H St NE, Washington, DC 20002","lat":38.900419,"lng":-76.998968,"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"}'
  recorded_at: Tue, 24 Feb 2026 16:52:44 GMT
- request:
    method: get
    uri: https://api.geocod.io/v1.10/reverse?api_key=<API_KEY>&format=simple&q=38.92977415631741,-77.04941962147353
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api277
      X-Ratelimit-Remaining:
      - '974'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"address":"2269 Cathedral Ave NW, Washington, DC 20008","lat":38.927781,"lng":-77.051845,"accuracy":0.97,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"}'
  recorded_at: Tue, 24 Feb 2026 16:52:44 GMT
recorded_with: VCR 6.1.0
