---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.7/geocode?api_key=<API_KEY>&fields=school,cd&format&limit&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '2'
      Request-Handler:
      - api294
      X-Ratelimit-Remaining:
      - '923'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"input":{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201"},"results":[{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington","fields":{"congressional_districts":[{"name":"Congressional
        District 8","district_number":8,"ocd_id":"ocd-division\/country:us\/state:va\/cd:8","congress_number":"119th","congress_years":"2025-2027","proportion":1,"current_legislators":[{"type":"representative","seniority":null,"bio":{"last_name":"Beyer","first_name":"Donald","birthday":"1950-06-20","gender":"M","party":"Democrat"},"contact":{"url":"https:\/\/beyer.house.gov","address":"1226
        Longworth House Office Building Washington DC 20515-4608","phone":"202-225-4376","contact_form":null},"social":{"rss_url":null,"twitter":"RepDonBeyer","facebook":"RepDonBeyer","youtube":null,"youtube_id":"UCPJGVbOVcAVGiBwq8qr_T9w"},"references":{"bioguide_id":"B001292","thomas_id":"02272","opensecrets_id":"N00036018","lis_id":null,"cspan_id":"21141","govtrack_id":"412657","votesmart_id":"1707","ballotpedia_id":"Don
        Beyer","washington_post_id":null,"icpsr_id":"21554","wikipedia_id":"Don Beyer"},"source":"Legislator
        data collected by https:\/\/github.com\/unitedstates\/"},{"type":"senator","seniority":"senior","bio":{"last_name":"Warner","first_name":"Mark","birthday":"1954-12-15","gender":"M","party":"Democrat"},"contact":{"url":"https:\/\/www.warner.senate.gov","address":"703
        Hart Senate Office Building Washington DC 20510","phone":"202-224-2023","contact_form":"https:\/\/www.warner.senate.gov\/public\/index.cfm?p=Contact"},"social":{"rss_url":"http:\/\/ww[...]
[...]
