---
http_interactions:
- request:
    method: post
    uri: https://api.geocod.io/v1.7/geocode?api_key=<API_KEY>&fields=&limit
    body:
      encoding: UTF-8
      string: '["1109 N Highland St, Arlington, VA 22201","12187 Darnestown Rd, Gaithersburg,
        MD 20878","4961 Elm Street, Bethesda, MD"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '3'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api301
      X-Ratelimit-Remaining:
      - '914'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"query":"1109 N Highland St, Arlington, VA 22201","response":{"input":{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201"},"results":[{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"}]}},{"query":"12187
        Darnestown Rd, Gaithersburg, MD 20878","response":{"input":{"address_components":{"number":"12187","street":"Darnestown","suffix":"Rd","formatted_street":"Darnestown
        Rd","city":"Gaithersburg","state":"MD","zip":"20878","country":"US"},"formatted_address":"12187
        Darnestown Rd, Gaithersburg, MD 20878"},"results":[{"address_components":{"number":"12187","street":"Darnestown","suffix":"Rd","formatted_street":"Darnestown
        Rd","city":"Gait[...]
[...]
