---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v2/distance?api_key=<API_KEY>&destinations%5B%5D=38.9072,-77.0369,branch_1&origin=38.8977,-77.0365,headquarters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Distance-Calculations:
      - '1'
      Request-Handler:
      - api312
      X-Ratelimit-Remaining:
      - '954'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"location":[38.8977,-77.0365]},"mode":"straightline","destinations":[{"query":"38.9072,-77.0369,branch_1","location":[38.9072,-77.0369],"id":"branch_1","distance_miles":0.7,"distance_km":1.1}]}'
  recorded_at: Tue, 24 Feb 2026 16:52:48 GMT
- request:
    method: get
    uri: https://api.geocod.io/v2/distance?api_key=<API_KEY>&destinations%5B%5D=38.9072,-77.0369,branch_1&origin=38.8977,-77.0365,headquarters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Distance-Calculations:
      - '1'
      Request-Handler:
      - api311
      X-Ratelimit-Remaining:
      - '958'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"location":[38.8977,-77.0365]},"mode":"straightline","destinations":[{"query":"38.9072,-77.0369,branch_1","location":[38.9072,-77.0369],"id":"branch_1","distance_miles":0.7,"distance_km":1.1}]}'
  recorded_at: Thu, 12 Mar 2026 11:55:57 GMT
recorded_with: VCR 6.1.0
