---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.9/distance?api_key=<API_KEY>&destinations%5B%5D=38.8895,-77.0353,monument&destinations%5B%5D=38.9072,-77.0369,capitol&origin=38.8977,-77.0365,white_house
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Distance-Calculations:
      - '2'
      Request-Handler:
      - api311
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"location":[38.8977,-77.0365]},"mode":"straightline","destinations":[{"query":"38.8895,-77.0353,monument","location":[38.8895,-77.0353],"id":"monument","distance_miles":0.6,"distance_km":0.9},{"query":"38.9072,-77.0369,capitol","location":[38.9072,-77.0369],"id":"capitol","distance_miles":0.7,"distance_km":1.1}]}'
  recorded_at: Tue, 06 Jan 2026 10:42:23 GMT
recorded_with: VCR 6.1.0
