---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.9/distance?api_key=<API_KEY>&destinations%5B%5D=38.9072,-77.0369,branch_1&origin=38.8977,-77.0365,headquarters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Distance-Calculations:
      - '1'
      X-Billable-Lookups-Count:
      - '1'
      Request-Handler:
      - api306
      X-Ratelimit-Remaining:
      - '996'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"location":[38.8977,-77.0365]},"mode":"straightline","destinations":[{"query":"38.9072,-77.0369,branch_1","location":[30.344615,-92.345888],"id":null,"distance_miles":1051,"distance_km":1691.4,"geocode":{"address_components":{"city":"Branch","county":"Acadia
        Parish","state":"LA","zip":"70516","country":"US"},"address_lines":["","","Branch,
        LA 70516"],"formatted_address":"Branch, LA 70516","location":{"lat":30.344615,"lng":-92.345888},"accuracy":0.5,"accuracy_type":"place","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau"}}]}'
  recorded_at: Tue, 06 Jan 2026 10:42:23 GMT
recorded_with: VCR 6.1.0
