---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.10/distance?api_key=<API_KEY>&destinations%5B%5D=38.9072,-77.0369&destinations%5B%5D=39.2904,-76.6122&destinations%5B%5D=39.9526,-75.1652&max_results=2&order_by=distance&origin=38.8977,-77.0365&sort=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Distance-Calculations:
      - '3'
      Request-Handler:
      - api310
      X-Ratelimit-Remaining:
      - '952'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"location":[38.8977,-77.0365]},"mode":"straightline","destinations":[{"query":"38.9072,-77.0369","location":[38.9072,-77.0369],"id":null,"distance_miles":0.7,"distance_km":1.1},{"query":"39.2904,-76.6122","location":[39.2904,-76.6122],"id":null,"distance_miles":35.4,"distance_km":57.1}]}'
  recorded_at: Tue, 24 Feb 2026 16:52:48 GMT
recorded_with: VCR 6.1.0
