---
http_interactions:
- request:
    method: post
    uri: https://api.geocod.io/v1.9/distance-matrix?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"origins":[{"lat":38.8977,"lng":-77.0365,"id":"origin_1"},{"lat":38.9072,"lng":-77.0369,"id":"origin_2"}],"destinations":[{"lat":38.8895,"lng":-77.0353,"id":"dest_1"},{"lat":39.2904,"lng":-76.6122,"id":"dest_2"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '0'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api306
      X-Ratelimit-Remaining:
      - '923'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Resource not found. See our documentation at https:\/\/www.geocod.io\/docs\/"}'
  recorded_at: Mon, 05 Jan 2026 10:03:05 GMT
recorded_with: VCR 6.1.0
