---
http_interactions:
- request:
    method: post
    uri: https://api.geocod.io/v1.9/distance-jobs?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Test Distance Job","origins":[{"lat":38.8977,"lng":-77.0365,"id":"origin_1"}],"destinations":[{"lat":38.8895,"lng":-77.0353,"id":"dest_1"}],"mode":"straightline","callback_url":"https://example.com/webhook"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api309
      X-Ratelimit-Remaining:
      - '991'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"id":1,"identifier":"3a229117a1c8f98000656867d2d438d69342ef01","status":"ENQUEUED","name":"Test
        Distance Job","created_at":"2026-01-06T10:42:24.000000Z","origins_count":1,"destinations_count":1,"total_calculations":1}'
  recorded_at: Tue, 06 Jan 2026 10:42:24 GMT
recorded_with: VCR 6.1.0
