---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.7/geocode?api_key=<API_KEY>&fields=&format&limit&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api288
      X-Ratelimit-Remaining:
      - '925'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"input":{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201"},"results":[{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"}]}'
  recorded_at: Thu, 06 Mar 2025 18:38:50 GMT
[...]
- request:
    method: get
    uri: https://api.geocod.io/v1.7/geocode?api_key=<API_KEY>&fields=&format&limit&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api300
      X-Ratelimit-Remaining:
      - '923'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"input":{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201"},"results":[{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"}]}'
  recorded_at: Thu, 06 Mar 2025 18:38:51 GMT
recorded_with: VCR 6.1.0
