---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.9/geocode?api_key=<API_KEY>&destinations%5B%5D=38.8895,-77.0353,monument&destinations%5B%5D=38.9072,-77.0369,capitol&distance_mode=straightline&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api309
      X-Ratelimit-Remaining:
      - '987'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"input":{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201"},"results":[{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"address_lines":["1109
        N Highland St","","Arlington, VA 22201"],"formatted_address":"1109 N Highland
        St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington","destinations":[{"query":"38.8895,-77.0353,monument","location":[38.8895,-77.0353],"distance_miles":3.2,"distance_km":5.2,"duration_seconds":null,"id":"monument"},{"query":"38.9072,-77.0369,capitol","location":[38.9072,-77.0369],"distance_miles":3.4,"distance_km":5.5,"duration_seconds":null,"id":"capitol"}]}]}'
  recorded_at: Tue, 06 Jan 2026 10:42:24 GMT
recorded_with: VCR 6.1.0
