---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v2/geocode?api_key=<API_KEY>&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api311
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"stable_address_key":"gcod_usndjrg9xn28uz888u3fkm6yusrdg","address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state_province":"VA","postal_code":"22201","country":"US"},"address_lines":["1109
        N Highland St","","Arlington, VA 22201"],"formatted_address":"1109 N Highland
        St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"}]}'
  recorded_at: Tue, 24 Feb 2026 16:52:43 GMT
[...]
- request:
    method: get
    uri: https://api.geocod.io/v2/geocode?api_key=<API_KEY>&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api306
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"stable_address_key":"gcod_usndjrg9xn28uz888u3fkm6yusrdg","address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state_province":"VA","postal_code":"22201","country":"US"},"address_lines":["1109
        N Highland St","","Arlington, VA 22201"],"formatted_address":"1109 N Highland
        St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","match_type":"building_centroid","source":"Arlington"}]}'
  recorded_at: Thu, 12 Mar 2026 11:55:52 GMT
[...]
- request:
    method: get
    uri: https://api.geocod.io/v2/geocode?api_key=<API_KEY>&q=1109%20N%20Highland%20St,%20Arlington,%20VA%2022201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api281
      X-Ratelimit-Remaining:
      - '996'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"stable_address_key":"gcod_usndjrg9xn28uz888u3fkm6yusrdg","address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state_province":"VA","postal_code":"22201","country":"US"},"address_lines":["1109
        N Highland St","","Arlington, VA 22201"],"formatted_address":"1109 N Highland
        St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","match_type":"building_centroid","source":"Arlington"}]}'
  recorded_at: Thu, 12 Mar 2026 11:55:52 GMT
recorded_with: VCR 6.1.0
