---
http_interactions:
- request:
    method: post
    uri: https://api.geocod.io/v1.9/distance-jobs?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Status Test Job","origins":[{"lat":38.8977,"lng":-77.0365}],"destinations":[{"lat":38.8895,"lng":-77.0353}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '0'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api306
      X-Ratelimit-Remaining:
      - '920'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Resource not found. See our documentation at https:\/\/www.geocod.io\/docs\/"}'
  recorded_at: Mon, 05 Jan 2026 10:03:05 GMT
- request:
    method: get
    uri: https://api.geocod.io/v1.9/distance-jobs/?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '0'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api304
      X-Ratelimit-Remaining:
      - '919'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Resource not found. See our documentation at https:\/\/www.geocod.io\/docs\/"}'
  recorded_at: Mon, 05 Jan 2026 10:03:05 GMT
recorded_with: VCR 6.1.0
