---
http_interactions:
- request:
    method: post
    uri: https://api.geocod.io/v1.10/distance-jobs?api_key=<API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Status Test Job","origins":[{"lat":38.8977,"lng":-77.0365}],"destinations":[{"lat":38.8895,"lng":-77.0353}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api277
      X-Ratelimit-Remaining:
      - '948'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"id":30,"identifier":"e53f885bed61dcad07bcc1b5acfc785ac222c015","status":"ENQUEUED","name":"Status
        Test Job","created_at":"2026-02-24T16:52:49.000000Z","origins_count":1,"destinations_count":1,"total_calculations":1}'
  recorded_at: Tue, 24 Feb 2026 16:52:49 GMT
- request:
    method: get
    uri: https://api.geocod.io/v1.10/distance-jobs/30?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api242
      X-Ratelimit-Remaining:
      - '947'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"identifier":"e53f885bed61dcad07bcc1b5acfc785ac222c015","name":"Status
        Test Job","created_at":"2026-02-24T16:52:49.000000Z","origins_type":"coordinates","origins_count":1,"destinations_type":"coordinates","destinations_count":1,"distance_mode":"straightline","status":"ENQUEUED","download_url":null,"total_calculations":1,"calculations_completed":0,"progress":0,"status_message":"Waiting
        to be processed.","time_left":null,"is_expired":false}}'
  recorded_at: Tue, 24 Feb 2026 16:52:49 GMT
recorded_with: VCR 6.1.0
