---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.7/lists?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api290
      X-Ratelimit-Remaining:
      - '910'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"current_page":1,"data":[{"id":12040167,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list.csv"},"status":{"state":"COMPLETED","progress":100,"message":"Completed","time_left_description":null,"time_left_seconds":null},"download_url":"https:\/\/api.geocod.io\/v1.7\/lists\/12040167\/download","expires_at":"2025-03-09T15:10:25.000000Z"},{"id":12040166,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list.csv"},"status":{"state":"COMPLETED","progress":100,"message":"Completed","time_left_description":null,"time_left_seconds":null},"download_url":"https:\/\/api.geocod.io\/v1.7\/lists\/12040166\/download","expires_at":"2025-03-09T15:09:17.000000Z"},{"id":12040165,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list.csv"},"status":{"state":"COMPLETED","progress":100,"m[...]
[...]
