---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.7/lists/11533825?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '0'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api281
      X-Ratelimit-Remaining:
      - '910'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Resource not found. See our documentation at https:\/\/www.geocod.io\/docs\/"}'
  recorded_at: Thu, 06 Mar 2025 18:39:03 GMT
[...]
- request:
    method: post
    uri: https://api.geocod.io/v1.7/lists?api_key=<API_KEY>&callback=http://localhost&direction=forward&file=%EF%BB%BFaddress,city,state,zip%0D%0A660%20Pennsylvania%20Ave%20SE,Washington,DC,20003%0D%0A1718%2014th%20St%20NW,Washington,DC,20009%0D%0A1309%205th%20St%20NE,,,20002%0D%0A2150%20P%20St%20NW,,,20037%0D%0A201%20F%20Street%20NE,,,20002%0D%0A1001%202nd%20St%20SE,,,20003%0D%0A1645%20Wisconsin%20Avenue%20NW,Washington,DC,20007%0D%0A820%20East%20Baltimore%20Street,B[...]
- request:
    method: get
    uri: https://api.geocod.io/v1.7/lists/12040486?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api312
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"id":12040486,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list_test.csv"},"status":{"state":"COMPLETED","progress":100,"message":"Completed","time_left_description":null,"time_left_seconds":null},"download_url":"https:\/\/api.geocod.io\/v1.7\/lists\/12040486\/download","expires_at":"2025-03-09T19:52:35.000000Z"}'
  recorded_at: Thu, 06 Mar 2025 20:52:55 GMT
recorded_with: VCR 6.1.0
