---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.8/lists?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api290
      X-Ratelimit-Remaining:
      - '962'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"current_page":1,"data":[{"id":12041005,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list_test.csv"},"status":{"state":"PROCESSING","progress":1,"message":"Processing","time_left_description":"Estimating
        time to complete","time_left_seconds":null},"download_url":null,"expires_at":"2025-03-10T16:01:50.000000Z"},{"id":12041004,"fields":[],"file":{"estimated_rows_count":19,"filename":"lat_long_test.csv"},"status":{"state":"PROCESSING","progress":99,"message":"Cleaning
        up","time_left_description":"A few moments left","time_left_seconds":0},"download_url":null,"expires_at":"2025-03-10T16:01:51.000000Z"},{"id":12041003,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list_test.csv"},"status":{"state":"COMPLETED","progress":100,"message":"Completed","tim[...]
[...]
