---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.11/lists?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api294
      X-Ratelimit-Remaining:
      - '961'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"current_page":1,"data":[{"id":12241904,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list_test.csv"},"status":{"state":"ENQUEUED","progress":0,"message":"Waiting
        to be processed.","time_left_description":null,"time_left_seconds":null},"download_url":null,"expires_at":"2026-02-27T16:52:47.000000Z"},{"id":12241903,"fields":[],"file":{"estimated_rows_count":19,"filename":"lat_long_test.csv"},"status":{"state":"ENQUEUED","progress":0,"message":"Waiting
        to be processed.","time_left_description":null,"time_left_seconds":null},"download_url":null,"expires_at":"2026-02-27T16:52:46.000000Z"},{"id":12241902,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list_test.csv"},"status":{"state":"PROCESSING","progress":99,"message":"Assembling
       [...]
[...]
