---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.7/lists/11533825?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api137
      X-Ratelimit-Remaining:
      - '997'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"id":11533825,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list.csv"},"status":{"state":"COMPLETED","progress":100,"message":"Completed","time_left_description":null,"time_left_seconds":null},"download_url":null,"expires_at":"2022-06-25T15:55:51.000000Z"}'
  recorded_at: Wed, 07 Dec 2022 23:33:14 GMT
[...]
- request:
    method: get
    uri: https://api.geocod.io/v1.7/lists/11600843?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api218
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"id":11600843,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list_test.csv"},"status":{"state":"COMPLETED","progress":100,"message":"Completed","time_left_description":null,"time_left_seconds":null},"download_url":"https:\/\/api.geocod.io\/v1.7\/lists\/11600843\/download","expires_at":"2022-12-16T17:17:38.000000Z"}'
  recorded_at: Tue, 13 Dec 2022 17:43:32 GMT
recorded_with: VCR 6.1.0
