---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.10/distance-jobs?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api304
      X-Ratelimit-Remaining:
      - '946'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"identifier":"0c2be727e5d2902f635e49829bf1a62c66c56356","name":"Test
        Distance Job","created_at":"2026-02-24T16:52:49.000000Z","origins_type":"coordinates","origins_count":1,"destinations_type":"coordinates","destinations_count":1,"distance_mode":"straightline","status":"PROCESSING","download_url":null,"total_calculations":1,"calculations_completed":0,"progress":0,"status_message":"Initializing","time_left":"Estimating
        time to complete","is_expired":false},{"identifier":"e53f885bed61dcad07bcc1b5acfc785ac222c015","name":"Status
        Test Job","created_at":"2026-02-24T16:52:49.000000Z","origins_type":"coordinates","origins_count":1,"destinations_type":"coordinates","destinations_count":1,"distance_mode":"straightline","status":"PROCESSING","download_url":null,"total_calculations":1,"calculations_completed":0,"progress":0,"status_message":"Initializing","time_left":"Estimating
        time to complete","is_expired":false},{"identifier":"9f0[...]
