---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.9/distance-jobs?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api308
      X-Ratelimit-Remaining:
      - '988'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":1,"identifier":"3a229117a1c8f98000656867d2d438d69342ef01","name":"Test
        Distance Job","created_at":"2026-01-06T10:42:24.000000Z","updated_at":"2026-01-06T10:42:24.000000Z","last_heartbeat_at":null,"origins_type":"coordinates","origins_count":1,"destinations_type":"coordinates","destinations_count":1,"distance_mode":"straightline","status":"ENQUEUED","download_url":null,"total_calculations":1,"calculations_completed":0,"progress":0,"status_message":"Waiting
        to be processed.","time_left":null,"is_expired":false},{"id":2,"identifier":"ccbb2480585aa14453f03d2dc4769a770c6eb301","name":"Status
        Test Job","created_at":"2026-01-06T10:42:24.000000Z","updated_at":"2026-01-06T10:42:24.000000Z","last_heartbeat_at":null,"origins_type":"coordinates","origins_count":1,"destinations_type":"coordinates","destinations_count":1,"distance_mode":"straightline","status":"ENQUEUED","download_url":null,"total_calculations":1,"calculations_completed":0,"progress":0,"status_message":"Waiting
        to be processed.","time_left":null,"is_expired":false}],"links":{"first":"https:\/\/api.geocod.io\/v1.9\/distance-jobs?page=1","last":"https:\/\/api.geocod.io\/v1.9\/distance-jobs?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/api.geocod.io\/v1.9\/distance-jobs?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/api.geocod.io\/v1.9\/distance-jobs","per_page":20,"to":2,"total":2}}'
  recorded_at: Tue, 06 Jan 2026 10:42:24 GMT
recorded_with: VCR 6.1.0
