---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.9/distance?api_key=<API_KEY>&destinations%5B%5D=38.9072,-77.0369&mode=straightline&origin=38.8977,-77.0365
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Distance-Calculations:
      - '1'
      Request-Handler:
      - api310
      X-Ratelimit-Remaining:
      - '985'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"location":[38.8977,-77.0365]},"mode":"straightline","destinations":[{"query":"38.9072,-77.0369","location":[38.9072,-77.0369],"id":null,"distance_miles":0.7,"distance_km":1.1}]}'
  recorded_at: Tue, 06 Jan 2026 10:42:25 GMT
recorded_with: VCR 6.1.0
