---
http_interactions:
- request:
    method: post
    uri: https://api.geocod.io/v1.7/reverse?api_key=<API_KEY>&fields=&limit
    body:
      encoding: UTF-8
      string: '["38.88674717512318, -77.09464642536076","39.118308110111954, -77.2516753863881","38.98237295882022,
        -77.09805507289941"]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '3'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api137
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"results":[{"query":"38.88674717512318, -77.09464642536076","response":{"results":[{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N
        Highland St","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"formatted_address":"1109
        N Highland St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"},{"address_components":{"number":"3030","street":"Clarendon","suffix":"Blvd","formatted_street":"Clarendon
        Blvd","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"formatted_address":"3030
        Clarendon Blvd, Arlington, VA 22201","location":{"lat":38.886876,"lng":-77.094702},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"},{"address_components":{"number":"3020","street":"Clarendon","suffix":"Blvd","formatted_street":"Cla[...]
[...]
