---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.8/reverse?api_key=<API_KEY>&fields=&format&limit&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api298
      X-Ratelimit-Remaining:
      - '986'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"address_components":{"number":"508","street":"H","suffix":"St","postdirectional":"NE","formatted_street":"H
        St NE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20002","country":"US"},"formatted_address":"508
        H St NE, Washington, DC 20002","location":{"lat":38.900432,"lng":-76.999031},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"},{"address_components":{"number":"510","street":"H","suffix":"St","postdirectional":"NE","formatted_street":"H
        St NE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20002","country":"US"},"formatted_address":"510
        H St NE, Washington, DC 20002","location":{"lat":38.900429,"lng":-76.998965},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"},{"address_components":{"number":"506",[...]
[...]
