---
http_interactions:
- request:
    method: get
    uri: https://api.geocod.io/v1.10/reverse?api_key=<API_KEY>&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api253
      X-Ratelimit-Remaining:
      - '985'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"stable_address_key":"gcod_usns9336kzhky4334vs7fgmnxvbzb","address_components":{"number":"510","street":"H","suffix":"St","postdirectional":"NE","formatted_street":"H
        St NE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20002","country":"US"},"address_lines":["510
        H St NE","","Washington, DC 20002"],"formatted_address":"510 H St NE, Washington,
        DC 20002","location":{"lat":38.900419,"lng":-76.998968},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide
        (City of Washington)"},{"stable_address_key":"gcod_usns9336kzhky43398dkxdr7svcsd","address_components":{"number":"508","street":"H","suffix":"St","postdirectional":"NE","formatted_street":"H
        St NE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20002","country":"US"},"address_lines":["508
        H St NE","","Washington, DC 20002"],"formatted_address":"508 H St NE, Washington,
        DC 20002","location":{"lat":38.900432,"lng":-76.999031},"acc[...]
[...]
- request:
    method: get
    uri: https://api.geocod.io/v1.11/reverse?api_key=<API_KEY>&q=38.9002898,-76.9990361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '0'
      Request-Handler:
      - api310
      X-Ratelimit-Remaining:
      - '987'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"stable_address_key":"gcod_usns9336kzhky4334vs7fgmnxvbzb","address_components":{"number":"510","street":"H","suffix":"St","postdirectional":"NE","formatted_street":"H
        St NE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20002","country":"US"},"address_lines":["510
        H St NE","","Washington, DC 20002"],"formatted_address":"510 H St NE, Washington,
        DC 20002","location":{"lat":38.900419,"lng":-76.998968},"accuracy":1,"accuracy_type":"rooftop","match_type":null,"source":"Statewide
        (City of Washington)"},{"stable_address_key":"gcod_usns9336kzhky43398dkxdr7svcsd","address_components":{"number":"508","street":"H","suffix":"St","postdirectional":"NE","formatted_street":"H
        St NE","city":"Washington","county":"District of Columbia","state":"DC","zip":"20002","country":"US"},"address_lines":["508
        H St NE","","Washington, DC 20002"],"formatted_address":"508 H St NE, Washington,
        DC 20002","location":{"lat":38.900432,"lng":-7[...]
[...]
